<div class="question-form-field">
  <%= form_for [topic, question] do |f| %>
    <%= f.text_field :text, placeholder: "Ask a new Question", required: true %>
    <%= f.submit "Save"%>
  <% end %>
</div>
