<ul>
  <% questions.each do |question| %>
    <div class="question">
      <li>
        <%= link_to 'Search', search_path(question: question.text), class: 'search-link' %>
        <%= question.text %>
      </li>
    </div>
  <% end %>
</ul>
