<div class = "login-box">
  <div class="centered-login-content">
    <div class="logo-text"> <h1>Waypoint</h1> </div>
    <div class="description">
      Online research can be overwhelming. <br>Waypoint is here to help!
    </div>
    <h3>Please sign in to continue</h3>
    <br>
    <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "google-login-btn" %>
    <br><br><br>
</div>
