<div class="centered-content">
  <div style="height: 25%"></div>
  <h1>Waypoint</h1>
  <h2>Please create an account<br/>
    or sign in to continue</h2>

  <!-- <a href="/auth/google_oauth2">Login with Google</a> -->
  <%= link_to "Login with Google", "/auth/google_oauth2", id: "google-login-btn" %>
</div>
