<iframe src="<%= @source_url %>" frameborder="0" id="results-iframe"></iframe>
<div id="sidebar">
  <iframe src="<%= sidebar_path(source: @source_params) %>" frameborder="0", id="sidebar-iframe"></iframe>
</div>
