<div class="centered-content">
  <h1>Topics</h1>

  <%= render '/user/topics/new_topic_form',
        topic: @facade.new_topic %>
        
  <%= render '/user/topics/topic_list',
        topics: @facade.topics,
        new_question: @facade.new_question %>
</div>
