<div class="centered-content">
  <div class="title">
    <%= @topic.title %>

    <div class="list">
      <ul>
        <% @topic.questions.each do |question| %>
          <li>
            <div class="question">
              <%= question.text %>
            </div>
          </li>
        <hr />
        <% end %>
      </ul>
    </div>
  </div>
</div>
