<div class="centered-content">
  <div class="title">
    <%= @topic.title %>
  </div>


<div class="list">
    <% @topic.questions.each do |question| %>
      <%= question.text %>
    </div>
    <% end %>

</div>
