<h1>Results for: <%= params[:target_title] %></h1>
<iframe src="<%= params[:target_url] %>" frameborder="0" id="results-iframe"></iframe>
<iframe src="sidebar" frameborder="0" id="sidebar-iframe"></iframe>
