<!-- <h1><%= params[:target_title] %></h1> -->

<iframe src="<%= @target_url %>" frameborder="0" id="results-iframe"></iframe>
<div id="sidebar">
  <!-- <iframe src="sidebar" frameborder="0" id="sidebar-iframe"></iframe> -->
  <%= render 'user/results/sidebar' %>
</div>
