body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}


.centered-content {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;

  .list {
    text-align: left;

    .question {
      .source {
        padding: 10px;
        width: 90%;
        margin: 0 auto 20px auto;
        border-radius: 10px;
        box-shadow: 1px 2px 5px 0px gray;

      }
    }
  }

  .topic {
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: space-between;
    font-size: 1em;


    .title {
      font-weight: 600;
      font-size: 1.1em;
      width: 200px;
    }
  }

  ul {
    text-align: left;
    list-style-type: none;
    li {
      text-indent: 80px;
    }
  }

  .form-field {
    input[type=text] {
      width: 20em;
    }
  }

  div.question-count{
    width: 30px;
  }

  button {
    float: left;
    margin: 0 12px;
  }


}

h2 {
  font-weight: 200;
}

h3 {
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

h4 {
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

button.collapsible {
  position: relative;
  width: 3em;
  font-size: 1em;
  &:hover {
  cursor:pointer;
  }
}

#results-iframe {
  width: 50%;
  height: 500px;
  border: 2px red dashed;
}
