body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

.navbar{
  height: 3.5rem;
  box-shadow: 0px 4px 15px -1px rgba(51,51,51,0.76);
  position: relative;
}

.nav-link{
  padding: 1rem;
}

.centered-content {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;

  .list {
    text-align: left;

    .question {
      display: flex;
      justify-content: space-between;
      .question-text {
        color: #7A3B69;
        font-weight: bold;
      }
      .search-button {
      }
      .delete-button {
      }
      .source {
        padding: 10px;
        width: 100%;
        margin: 0 auto 20px auto;
        border-radius: 10px;
        box-shadow: 1px 2px 5px 0px gray;
      }
    }
  }

  .topic {
    display: flex;
    width: 100%;
    margin: 20px;
    justify-content: space-between;
    font-size: 1em;


    .title {
      font-weight: 600;
      font-size: 1.1em;
      width: 200px;
    }
  }

  ul {
    text-align: left;
    list-style-type: none;
    li {
      text-indent: 80px;
    }
  }

  .form-field {
    input[type=text] {
      width: 20em;
    }
  }

  div.question-count{
    width: 30px;
  }

  button {
    float: left;
    margin: 0 12px;
  }


}

h2 {
  font-weight: 200;
}

h3 {
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

h4 {
  padding: 0px;
  margin: 0px;
  text-indent: 0px;
}

button.collapsible {
  position: relative;
  width: 3em;
  font-size: 1em;
  &:hover {
  cursor:pointer;
  }
}

#results-iframe {
  float: left;
  width: calc(100% - 400px);
  height: calc(100vh - 3.5rem);
  margin: 0 0 0 0;
  border: none;
}

#sidebar {
  float: right;
  width: 400px;
  margin: 0;
  height: calc(100vh - 3.5rem);
  box-shadow: 3px 1px 12px 0px rgba(51,51,51,0.76) inset;

  iframe {
    height: 100%;
    float: right;
    width: 95%;
  }
}

.result {
  .fa {
    font-size:1em;
  }

  .head {
    margin: 0.7em 0 0.7em 0;
  }

  .search-result-link {
    text-decoration: none;
    color: black;

    .url {
      color: blue;
      font-size: 0.85em;
    }
  }
}

.has-frame {
  color: green;
}

.no-frame {
  color: red;
}
