#google-login-btn {
  padding: 0.6em 1.5em;
  color: #63E7E7;
  font-weight:100;
  // font-family: "Open Sans";
  border: solid thin #63E7E7;
  text-decoration: none;
  border-radius: 2em;
  transition: 0.2s;
}

#google-login-btn:hover {
  color: white;
  background-color: #63E7E7;
}
