---
http_interactions:
- request:
    method: get
    uri: https://api.cognitive.microsoft.com/bing/v7.0/search?count=10&mkt=en-us&offset=0&q&safesearch=Moderate
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<BING_CLIENT_ID>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Bingapis-Traceid:
      - BCC3C62C522D4CF5AC3B40EDD7016ECE
      Bingapis-Sessionid:
      - EA64E9A5767A456E886F2C2E9A7FB98C
      X-Msedge-Clientid:
      - 10D55E6382106A6139B552B4835C6BDC
      X-Msapi-Userstate:
      - 8b62
      Bingapis-Market:
      - en-US
      X-Search-Responseinfo:
      - InternalResponseTime=98,MSDatacenter=CO4
    body:
      encoding: ASCII-8BIT
      string: '{"_type": "SearchResponse", "queryContext": {"originalQuery": ""},
        "rankingResponse": {}}'
  recorded_at: Tue, 01 Jan 2019 19:55:43 GMT
recorded_with: VCR 4.0.0
